.App {
    text-align: center;
    min-width: 320px;
}

.App-header {
    background-color: #ffffd1;
    height: 50px;
    padding: 20px;
    color: white;
    vertical-align: middle;
    margin-bottom: 8px;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    padding: 8px;
    margin: 8px;
    -webkit-box-shadow: 0 0 2px 1px rgba(196, 196, 196, 1);
    -moz-box-shadow: 0 0 2px 1px rgba(196, 196, 196, 1);
    box-shadow: 0 0 2px 1px rgba(196, 196, 196, 1);
    width: 320px;
    cursor: pointer;
    text-align: left;
}

.user-card a {
    color: #424242;
    text-decoration: none;
}

.user-card:hover {
    background-color: #ffffd1;
}

.main-link {
    color: #424242;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.albums-container {
    text-align: left;
}

.album-link {
    padding: 8px;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
    margin: 8px 0;
    padding: 8px 0;
}
